.App,
footer {
  font-family: sans-serif;
  text-align: center;
}
.App .weather-app {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
body {
  background: whitesmoke;
}
h1 {
  color: #000;
  font-size: 38px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.App canvas {
  padding: 10px;
}
.App .current-temperature {
  font-size: 48px;
  font-weight: lighter;
}
.App .unit {
  font-size: 32px;
}
