.App,
footer {
  font-family: sans-serif;
  text-align: center;
}
.App .weather-app {
  max-width: 600px;
  margin: 80px auto;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
