.CurrentWeather .current-temperature {
  font-size: 48px;
  font-weight: lighter;
  line-height: 64px;
}
.CurrentWeather .unit {
  font-size: 32px;
  vertical-align: super;
}
.CurrentWeather .unit a {
  text-decoration: none;
}
@media (max-width: 700px) {
  .CurrentWeather .current-temperature {
    font-size: 36px;
  }
  .CurrentWeather .unit {
    font-size: 24px;
  }
}
@media (max-width: 300px) {
  .CurrentWeather .current-temperature {
    font-size: 20px;
  }
  .CurrentWeather .unit {
    font-size: 12px;
  }
}
