.WeatherApp .search-bar {
  margin-bottom: 30px;
}
.WeatherApp h1 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 35px;
}
.WeatherApp ul {
  margin: 0;
  padding: 0;

  margin-block-end: 2em;
}
.WeatherApp li {
  list-style: none;
  color: #878787;
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.WeatherApp canvas {
  padding: 5px;
}

.WeatherApp .current-date {
  margin-top: none;
  margin-bottom: 5px;
}
.WeatherApp .weather-description {
  text-align: center;
  color: #878787;
}
@media (max-width: 700px) {
  .WeatherApp h1 {
    font-size: 32px;
  }
  .WeatherApp li {
    font-size: 14px;
  }
  .WeatherApp .weather-description {
    font-size: 14px;
  }
  .WeatherApp input {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
  .WeatherApp h1 {
    font-size: 28px;
  }
  .WeatherApp li {
    font-size: 12px;
  }
  .WeatherApp .weather-description {
    font-size: 12px;
  }
  .WeatherApp input {
    font-size: 12px;
    padding: none;
  }
  .WeatherApp .btn {
    padding: none;
  }
}
