.WeatherForecastDay .forecast-temp-low {
  opacity: 0.5;
  margin-left: 5px;
}
.WeatherForecastDay {
  font-size: 16px;
  text-align: center;
}
@media (max-width: 700px) {
  .WeatherForecastDay {
    font-size: 12px;
  }
}
